<ul class="mt-4 ps-0">
    <li class="btn btn-success">HOME</li>
    <li class="btn btn-primary">ABOUT</li>
    <li class="btn btn-primary">EDUCATION</li>
    <li class="btn btn-primary">COURSES</li>
    <li class="btn btn-primary">MOTOROLA COMPANY</li>
    <li class="btn btn-primary">INTEGRATION</li>
</ul>